th{
    background-color: darkslategrey; color: rgb(255, 255, 255); font-size: xx-large;
}
tr{
    background-color: rgb(220, 235, 240); font-size: large;
}
.choddo{
    background-color: rgb(190, 111, 115);
}
.shotero{
    background-color: rgb(190, 111, 115);
}
.atshotti{
    background-color: rgb(190, 111, 115);
}
